<div class="main">
<img src="/assets/sinmain.jpg" alt="">
<h1>신이 나를 만들 때</h1>
<form action="home/side" method='get'>

  <input type="text" name="input_text" placeholder="이름을 입력해주세요">

  <input type="submit" value="시작하기->">
</form>
</div>